@import "tachyons";


@import url('https://fonts.googleapis.com/css?family=Bungee|Open+Sans:300,400,600,700,800');

body, button {
  font-family: 'Open Sans',
  sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bungee',
  sans-serif;
}

.bungee {
  font-family: 'Bungee', sans-serif;
}

.h2p5 {
  height: 3rem;
}
.h4p5 {
  height: 10rem;
}

.bg-dark-magenta {
  background: #7c2069;
}

.bg-light-orange {
  background: #e99c1e;
}
.bg-dark-green {
  background: #42A276;
}

.b--dark-magenta {
  border-color: #7c2069;
}
.b--light-orange {
  border-color: #e99c1e;
}
.b--dark-green {
  border-color: #42A276;
}

.f0 {
  font-size: 4rem;
}

.w-45 {
  width: 45%;
}

/* NS QUERIES */
@media screen and (min-width: 48em) {
  .w-45-ns {
    width: 45%;
  }
  .h2p5-ns {
    height: 3rem;
  }
}

/* M QUERIES */
@media screen and (min-width: 48em) and (max-width: 64em){
  .w-45-m {
    width: 45%;
  }
  .h2p5-m {
    height: 3rem;
  }
}

/* L QUERIES */
@media screen and (min-width: 64em){
  .w-45-l {
    width: 45%;
  }
  .h2p5-l {
    height: 3rem;
  }
}

/* CUSTOM: extra large screen: 1280px */
@media screen and (min-width: 80em){
  .w-45-xl {
    width: 45%;
  }

  .w-30-xl {
    width: 30%;
  }
}

.text-area {
  resize: none;
  height: 5.5rem;
}

.underline-yellow {
   text-decoration-color: #FFD700;
}

/* placeholder text */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F4F4F4;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #F4F4F4;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #F4F4F4;
}
