@import "tachyons";

@import url('https://fonts.googleapis.com/css?family=Bungee|Montserrat:500,700');


body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bungee', cursive;
}


/* controls padding for sections */
.section {
  padding: 4rem 2rem;
}

.f0 {
  font-size: 4rem;
}

.section-thin {
  padding: 2rem;
}

@media(min-width: 769px) {
  .section {
    padding: 4rem 8rem;
  }

  .section-thin {
    padding: 2rem 8rem;
  }
}
